// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-sidebar>.nav-item>.active {
    background-color: #1E282C !important;
    border-left: 3px solid #3C8DBC;
    border-radius: 0 !important;
}

.nav-sidebar>.nav-item a:hover {
    background-color: #1E282C !important;
    border-left: 3px solid #3C8DBC;
    border-radius: 0 !important;
}

.sidebar-dark-primary .nav-sidebar>.nav-item.menu-open>.nav-link,
.sidebar-dark-primary .nav-sidebar>.nav-item:hover>.nav-link {
    background-color: #1E282C !important;
    border-left: 3px solid #3C8DBC;
    border-radius: 0 !important;
}

.total-amount{
    // border:1px solid #007BFF; 
    padding: 10px; 
    box-shadow: 5px 10px 18px #888888;
}

.sidebar{
    padding-left: 0;
    padding-right: 0;
}
.brand-link {
    padding: 0.8125rem 0;
}

.main-sidebar{
    overflow: hidden;
}

.pre_amount {
    border-radius: 15px 50px 30px;
  background: #343A40;
  padding: 20px; 
  width: 200px;
  color: rgb(255, 253, 253);
  font-size: 20px;
  font-family: monospace;
}

.sidebar-dark-primary .nav-treeview > .nav-item > .nav-link.active, .sidebar-dark-primary .nav-treeview > .nav-item > .nav-link.active:hover {
    color: white;
    background-color: #1E282C;
    border-left: 3px solid #3C8DBC;
}