// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-sidebar>.nav-item>.active {
    background-color: #1E282C !important;
    border-left: 3px solid #3C8DBC;
    border-radius: 0 !important;
}

.nav-sidebar>.nav-item a:hover {
    background-color: #1E282C !important;
    border-left: 3px solid #3C8DBC;
    border-radius: 0 !important;
}

.sidebar-dark-primary .nav-sidebar>.nav-item.menu-open>.nav-link,
.sidebar-dark-primary .nav-sidebar>.nav-item:hover>.nav-link {
    background-color: #1E282C !important;
    border-left: 3px solid #3C8DBC;
    border-radius: 0 !important;
}
